extends base

block vars
  - var title = 'Home'

block body
  h1 SVCC Auth!
  p.
    Welcome to the SVCC Auth! home page.  Please
    <a href="/register">register</a> or <a href="/login">login</a> to continue!
